doctype html
html
  head
    title Dance Acadmeia
    block scripts
    block style
  body
    nav#navbar
        ul  
           div#logo
              a(href="/") BALLET  
        li #[a(href="/") Home] 
        li #[a(href="/") Services] 
        li #[a(href="/") Packages] 
        li #[a(href="/") About]     
        li #[a(href="/contact") Contact us]
       
  
    block content
    block foot
      #footer 
        |  &#169 2022 Dance Academia.com | All rights reserved

